<footer class="page__footer">
    <div class="button-scroll-down-container">
        <a class="button__scroll" href=" #" title="Ir abajo">
            <img src="./assets/images/ico-arrow.svg">
        </a>
    </div>
    <div class="footer-section-container container">
        <div class="footer-section footer__menu footer__font">
            <nav>
                <ul>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Articles</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Books</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Events</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Reasons</a></li>
                    <li><a>Tips</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-section footer__links footer__font">
            <nav>
                <ul>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Mastodon.social</li>
                </ul>
            </nav>
        </div>
        <div class="footer-copy">
            <p>&copy;2017</p>
            <p>We<img src="./assets/images/heart.png"> components</p>
        </div>
    </div>
</footer>