<footer class="page__footer" id="footer">
    <div class="button__scroll button__scroll--footer">
        <a href="#inicio" title="Ir arriba"></a>
    </div>
    <div class="footer__section--container container">
        <div class="footer__section footer__menu footer__font">
            <nav>
                <ul>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Articles</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Books</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Events</a></li>
                    <li><a href="https://adalab.es/" target="local" title="Ir a Adalab">Reasons</a></li>
                    <li><a>Tips</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__section footer__links footer__font">
            <nav>
                <ul>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Mastodon.social</li>
                </ul>
            </nav>
        </div>
        <div class="footer-copy">
            <p>&copy;2017</p>
            <p>We<img src="./assets/images/heart.png"> components</p>
        </div>
    </div>
</footer>