<footer class="page__footer" id="footer">
    <div class="button__scroll button__scroll--footer">
        <a href="#inicio" title="Ir arriba"></a>
    </div>
    <div class="footer__section--container container footer__font">
        <nav class="footer__section">
            <ul>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Articles</a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Books</a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Events</a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Reasons</a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Tips</a>
                </li>
            </ul>
        </nav>
        <div class="footer__section footer__links">
            <ul>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Twitter
                    </a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Instagram
                    </a>
                </li>
                <li>
                    <a href="https://adalab.es/" target="local" title="Ir a Adalab">Mastodon.social
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__font--copy footer__copy">
            <p>&copy;2017</p>
            <p>We
                <span class="footer__copy--heart"></span>
                components
            </p>
        </div>
    </div>
</footer>