<header class="page__header" id="inicio">
    <div class="button__menu">
        <a href="https://adalab.es/" target="local" title="Menú (Ir a Adalab)"></a>
    </div>
    <div class="header__container container">
        <div class="header__content">
            <h1 class="title__main">Anonymous
                <br />proxy</h1>
            <p class="title__subtitle--header">In hac habitasse platea dictumst.</p>
            <div class="button__scroll button__scroll--header">
                <a href="#footer" title="Ir abajo"></a>
            </div>
        </div>

    </div>
</header>