<header class="page__header">
    <div class="header__container container">
        <div class="button__menu">
            <a href="https://adalab.es/" target="local" title="Ir a Adalab">
                <img src="./assets/images/ico-menu.svg" alt="botón_menú" title="Ir a Adalab"></a>
        </div>
        <div class="header__content">
            <h1 class="main__title">Anonymous
                <br />proxy</h1>
            <p class="subtitle__header">In hac habitasse platea dictumst.</p>
            <div class="button-scroll-down-container">
                <a class="button__scroll href=" #" title="Ir abajo">
                    <img src="./assets/images/ico-scroll-down.svg">
                </a>
            </div>

        </div>

    </div>
</header>