<header class="page__header" id="inicio">
    <div class="button__menu">
        <a href="https://adalab.es/" target="local" title="Ir a Adalab">
            <img src="./assets/images/ico-menu.svg" alt="botón menú" title="Ir a Adalab"></a>
    </div>
    <div class="header__container container">
        <div class="header__content">
            <h1 class="main__title">Anonymous
                <br />proxy</h1>
            <p class="subtitle__header">In hac habitasse platea dictumst.</p>
            <div class="button__scroll btn__header">
                <a  href="#footer" title="Ir abajo"></a>
            </div>
        </div>

    </div>
</header>