<main class="page__main">
    <div class="container container__section">
        <p class="title__small">Insomnia Tips</p>
        <h2 class="title__section">Looking through a window</h2>
        <div class="body__font main__description">Lorem idivsum dolor sit amet consectetur adipisicing elit. Quas veniam
            quae, maxime in eum asperiores provident, obcaecati corporis impedit odit earum.</div>
        <div class="button button__main button__main--container">
            <a href="https://adalab.es/" target="local" title="Ir a Adalab">Go</a>
        </div>
    </div>
</main>