<section class="page__reasons">
    <div class="container__section">
        <h2 class="title__section">3 reasons to purchase</h2>
        <div class="container container__section--reasons">
            <div class="reassons__item">
                <h3 class="title__subtitle--section">Ut sed metus</h3>
                <p class="body__font">Lorem ipsum dolor sit amet consecteur.</p>
            </div>
            <div class="reassons__item">
                <h3 class="title__subtitle--section">Curabitur ac erat</h3>
                <p class="body__font">Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="reassons__item">
                <h3 class="title__subtitle--section">Morbi dictum</h3>
                <p class="body__font">Aliquam in dolor et dolor tincidunt..</p>
            </div>
        </div>
        <div class="button button__section button__section--reassons">
            <a href="https://adalab.es/" target="local" title="Ver razones (Ir a Adalab)">More reasons</a>
        </div>
    </div>
</section>