<section class="page__reassons">
    <div class="page__reassons--container container">
        <h2 class="section-title">3 reasons to purchase</h2>
        <div class="reasons-item-container">
            <div class="reassons-item">
                <h3 class="reasons-title">Ut sed metus</h3>
                <p class="body-font">Lorem ipsum dolor sit amet consecteur.</p>
            </div>
            <div class="reassons-item">
                <h3 class="reasons-title">Curabitur ac erat</h3>
                <p class="body-font">Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="reassons-item">
                <h3 class="reasons-title">Morbi dictum</h3>
                <p class="body-font">Aliquam in dolor et dolor tincidunt..</p>
            </div>
        </div>
        <div class="button button--reassons button__font">
            <a href="#">More reasons</a>
        </div>
    </div>
</section>