/* ESTILOS FOOTER */
.page__footer {
    background-color: $colorPrimary;
    color: white;
    padding: 60px 0 45px 0;
    text-align: center;
    position: relative;
    .button__scroll--footer {
    position: absolute;
    top: -23px;
    }
    .footer__section--container {
        .footer__section {
            margin: auto;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        a:hover {
            color: $colorButtonSection;
            transition: color 0.25s ease;
        }
        @include forTablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            .footer__section {
            margin: 0;
            order: 2;
            }
        }
        @include forPc {
            justify-content: center;
            .footer__section, .footer__copy {
                display: block;
                margin: 0 30px;
                padding-right: 50px;
            }
        }
    }
    .footer__copy--heart {
        display: inline-block;
        width: 15px;
        height: 12px;
        background: url(../images/heart.png) center no-repeat;
        background-size: contain;
        transform: translateY(2px);
    }
}