.page__header {
    height: 100vh;
    background-color: $colorPrimary;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
    .button__menu {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .header__container {
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        .header__content {
            position: absolute;
            top: 60%;
            p {
                padding: 10px 0 45px 0;
                @include forTablet {
                    padding: 20px 0 30px 0 ;
                }
                @include forPc {
                    padding-top: 0;
                }
            }
        }
    }
}