.main__description {
    text-align: justify;
    color: $colorFontBody;
    padding: 15px 0;
    @include forTablet {
        padding-top: 30px;
    }
}
.button__main--container {
    margin: 15px 0;
    @include forTablet {
        margin-bottom: 30px;
    }
    @include forPc {
        margin-bottom: 0px;
    }
}