.page__reassons {
    background-color:#eff9ff;
    text-align: center;
    .page__reassons--container {
        padding: 30px 0;
        .reasons-item-container {
            margin-bottom: 45px;
            .reassons-item {
                text-align: center;
                width: 184px;
                margin: auto;
                margin-top: 45px;
                @include forTablet {
                width: 100%;
                }
            }
            @include forTablet {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        .button--reassons {
            position: relative;
            padding-bottom: 60px;
            a {
                width: 184px;
                height: 45px;
                background-color: $colorButtonSection;
                border-radius: 22.5px;
                text-align: center;
                padding: 20px;
                color: $colorFontTitleHeader;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}