.page__reassons {
    background-color:#eff9ff;
    text-align: center;
    .container__section--reasons {
        .reassons__item {
            text-align: center;
            color: $colorFontTitleSection;
            width:55%;
            margin: auto;
            margin-top: 45px;
            @include forTablet {
            width: 100%;
            }
        }
        @include forTablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            p {
                margin-top: 14px;
            }
        }
        @include forPc {
            padding: 45px 85px 0 85px;
        }
    }
    .button__section--reassons {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 45px 0 30px 0;
        @include forTablet {
            margin-top: 60px;
        }
        @include forPc {
            margin-bottom: 0px;
        }
    }
}