html {
    scroll-behavior: smooth;
}
.container {
    max-width: 290px;
    margin: auto;
    @include forTablet {
        max-width: 690px;
    }
    @include forPc {
        max-width: 730px;
    }
}


