/*** VARIABLES BOTONES ***/
$colorButtonMenu: #0271bc;
$colorButtonScroll: #ffffff;
$colorButtonSection: #f26002;

.button__menu {
    width: 44px;
    height: 44px;
    background: $colorButtonMenu url(../images/ico-menu.svg) center no-repeat;
    display: flex;
    justify-content: center;
    a {
        padding: 22px;
    }
}
.button__scroll {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        transition: background 0.25s ease;
    }
    a {
        padding: 23px;
    }
    &--header {
        background: $colorButtonScroll url(../images/ico-scroll-down.svg) center no-repeat;
        &:hover {
            background: $colorButtonScroll url(../images/ico-scroll-down.svg) bottom no-repeat;
        }
    }
    &--footer {
        background: $colorButtonScroll url(../images/ico-arrow.svg) center no-repeat;
        &:hover {
        background: $colorButtonScroll url(../images/ico-arrow.svg) top no-repeat;  
        }
    }
    animation: fade-in 5s;
    animation-iteration-count: 1
}

//** ANIMACIÓN BOTONES SCROLL **//
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.button {
    font-family: $fontFamilyBody;
    font-size: 20px;
    line-height: 2.25px;
    border-radius: 22.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transition: color, background-color 0.25s ease;
    }
    a {
        padding: 28px;
    }
    &__main {
        width: 76px;
        height: 45px;
        border: 2px solid $colorButtonSection;
        color: $colorButtonSection;
        &:hover {
            background-color: $colorButtonSection;
            color: $colorFontTitleHeader;
        }
        @include forTablet {
            width: 91px;
        }
        @include forPc {
            width: 160px;
        }
    }
    &__section {
        width: 184px;
        height: 45px;
        background-color: $colorButtonSection;
        color: $colorFontTitleHeader;
        &:hover{
            border: 2px solid $colorButtonSection;
            background-color: transparent;
            color: $colorButtonSection;
        }
        @include forTablet {
            width: 210px;
        }
        @include forPc {
            width: 255px;
        }
    }
}