/*** VARIABLES ***/
/* FUENTES */
$fontFamilyTitle: 'Roboto Slab', ;
$fontFamilyBody: 'Roboto', ;
$fontSizeHeader: 16px;
$fontSizeSmall: 14px;
$fontSizeBody: 18px;
$fontSizeHeaderTablet: 24px;

/* COLORES */
$colorFontTitleHeader: white;
$colorFontTitleSection: black;
$colorFontBody: #4a4a4a;

/** FUNCIÓN PARA EL CÁLCULO DE REMS **/
$defaultFontSize: 16;
@function rem($pixels) {
    @return ( $pixels / $defaultFontSize * 1rem );
}

.main__title {
    font-family: $fontFamilyTitle;
    font-size: rem(42);
    line-height: rem(55);
    text-transform: uppercase;
    color: $colorFontTitleHeader;
    @include forTablet {
        font-size: rem(80);
        line-height: rem(106);
    }
    @include forPc {
        font-size: rem(100);
        line-height: rem(132);
    }
}
.subtitle__header {
    font-family: $fontFamilyBody;
    font-size: rem(16);
    line-height: rem(30);
    color: $colorFontTitleHeader;
    @include forTablet {
        font-size: rem(24);
    }
}
.section-title {
    font-family: $fontFamilyTitle;
    font-size: rem(24);
    line-height: rem(30);
    text-transform: capitalize;
    color: $colorFontTitleSection;
    @include forTablet {
        font-size: rem(26);
        line-height: rem(45);
    }
    @include forPc {
        font-size: rem(32);
        line-height: rem(45);
    }
}
.reasons-title {
    font-family: $fontFamilyTitle;
    font-size: rem(18);
    line-height: rem(30);
    text-transform: capitalize;
    color: $colorFontTitleSection;
    @include forTablet {
        font-size: rem(24);
        line-height: rem(30);
    }
}
.body-font {
    font-family: $fontFamilyBody;
    font-size: rem(18);
    line-height: rem(30);
    text-transform: capitalize;
    color: $colorFontBody;
    @include forTablet {
        font-size: rem(20);
        line-height: rem(30);
    }
}
.footer__font {
    font-family: $fontFamilyBody;
    font-size: rem(16);
    line-height: rem(30);
}

