/*** VARIABLES ***/
/* FUENTES */
$fontFamilyTitle: 'Roboto Slab', ;
$fontFamilyBody: 'Roboto', ;
// $fontSizeHeader: 16;
// $fontSizeSmall: 14px;
// $fontSizeBody: 18px;
// $fontSizeHeaderTablet: 24px;

/* COLORES */
$colorFontTitleHeader: #ffffff;
$colorFontTitleSection: #000000;
$colorFontBody: #4a4a4a;

/** FUNCIÓN PARA EL CÁLCULO DE REMS **/
$defaultFontSize: 16;
@function rem($pixels) {
    @return ( $pixels / $defaultFontSize * 1rem );
}

.title__main {
    font-family: $fontFamilyTitle;
    font-size: rem(42);
    line-height: rem(55);
    text-transform: uppercase;
    color: $colorFontTitleHeader;
    @include forTablet {
        font-size: rem(80);
        line-height: rem(106);
    }
    @include forPc {
        font-size: rem(100);
        line-height: rem(132);
    }
}
.title__subtitle--header {
    font-family: $fontFamilyBody;
    font-size: rem(16);
    line-height: rem(30);
    color: $colorFontTitleHeader;
    @include forTablet {
        font-size: rem(24);
    }
}
.title__small {
    font-family: $fontFamilyBody;
    color: #8ccbea;
    font-size: rem(14);
    padding: 5px 0;
    @include forPc {
        font-size: rem(16);
    }
}
.title__section {
    font-family: $fontFamilyTitle;
    font-size: rem(24);
    line-height: rem(30);
    text-transform: capitalize;
    color: $colorFontTitleSection;
    @include forTablet {
        font-size: rem(26);
        line-height: rem(45);
    }
    @include forPc {
        font-size: rem(32);
        line-height: rem(45);
    }
}
.title__subtitle--section {
    font-family: $fontFamilyTitle;
    font-size: rem(18);
    line-height: rem(30);
    text-transform: capitalize;
    color: $colorFontTitleSection;
    @include forTablet {
        font-size: rem(24);
        line-height: rem(30);
    }
}
.body__font {
    font-family: $fontFamilyBody;
    font-size: rem(18);
    line-height: rem(30);
    text-transform: capitalize;
    @include forTablet {
        font-size: rem(20);
        line-height: rem(30);
    }
}
.footer__font {
    font-family: $fontFamilyBody;
    font-size: rem(16);
    line-height: rem(30);
}

